# -*- coding: utf-8 -*-

# Folder
**/__pycache__/
.mypy_cache/
.vscode/
log/
images/
workflow/tests/
build/
dist/

# Folder files
workflow/*.*
workflow/schema/*.*

# File
**/*.py[cod]
**/*.spec

# Exclude specific files
!workflow/example.json
!workflow/schema/generated.schema.json

# test files
test.py
